# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://lvjhnuluvsuaqcmnmsht.supabase.co/rest/v1/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2amhudWx1dnN1YXFjbW5tc2h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzM5MDcsImV4cCI6MjA4Nzk0OTkwN30.a2X8Wa7hSpo00xprLSKWC5Kah8Tpcac18H_qa5ZN3XM
