# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://lvjhnuluvsuaqcmnmsht.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2amhudWx1dnN1YXFjbW5tc2h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzM5MDcsImV4cCI6MjA4Nzk0OTkwN30.a2X8Wa7hSpo00xprLSKWC5Kah8Tpcac18H_qa5ZN3XM

# Telegram Bot Configuration
EXPO_PUBLIC_TELEGRAM_BOT_TOKEN=8085150979:AAEFWMsuNE0Se7JMbHfENM2-bSrdU-8Ky94
EXPO_PUBLIC_TELEGRAM_BOT_USERNAME=barber_booking_alert_bot
EXPO_PUBLIC_DEFAULT_TELEGRAM_CHAT_ID=-5464640980
EXPO_PUBLIC_PROMPTPAY_NUMBER=0999999999
